<div class="card-conteiner div-custom">


    <mat-card>
        <mat-card-header>
            <mat-card-title> Login</mat-card-title>

        </mat-card-header>
        <mat-card-content>
            <form class="form-custom" [formGroup]="formLogin">

                <mat-form-field class="imput-custom">
                    <mat-label>Mail</mat-label>
                    <input matInput formControlName="email" placeholder="admin@as.com" value="admin@as.com">
                </mat-form-field>

                <mat-form-field class="imput-custom">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" placeholder="Admin-123." value="Admin-123."type="password">
                </mat-form-field>

                <div class="flex">
                    <button mat-flat-button color="primary" (click)="star()">Login</button>
                    <br>
                    <a routerLink="/register">Add</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>